<p id="notice"><%= notice %></p>

<h1>Teachers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Matricula</th>
      <th>Especialidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @teachers %>
    <%= paginate @teachers %>
  </tbody>
</table>

<br>

<%= link_to 'New Teacher', new_teacher_path %>
